pip==22.1.2
pytest==7.1.2
flake8==4.0.1
Sphinx==5.0.2
twine==4.0.1
coverage==6.4.1
tox==3.25.0
Faker==13.14.0
coveralls==3.3.1
pytest-cov==3.0.0
sphinx-rtd-theme==1.0.0
wheel==0.38.1
watchdog==2.1.9
bumpversion==0.6.0
pyyaml==6.0
argh==0.26.2
black==22.3.0
